<script src="{{ [
    'assets/vendor/within-viewport/withinviewport.js',
    'assets/vendor/jquery/dist/jquery.js',
    'assets/vendor/jquery-ui/jquery-ui.js',
    'assets/vendor/within-viewport/jquery.withinviewport.js',
    'assets/vendor/tether/dist/js/tether.js',
    'assets/vendor/bootstrap-backward/dist/js/bootstrap.js',
    'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
    'assets/vendor/Stickyfill/dist/stickyfill.js',
    'assets/vendor/bootstrap-validator/dist/validator.js',
    'assets/vendor/leaflet/dist/leaflet.js',
    'assets/vendor/slick-carousel/slick/slick.js',
    'assets/javascript/jquery.jumplink-mediaquery-monitor.js',
    'assets/vendor/masonry/dist/masonry.pkgd.min.js',
     'assets/javascript/partials/krauter.js',
    'assets/javascript/app.js'
]|theme }}"></script>

<script>
   // console.log('erfolg!');
</script>



{# 
    'assets/vendor/animatedModal.js-master/animatedModal.js',
    'assets/vendor/masonry/dist/masonry.pkgd.min.js',
    'assets/javascript/special-scroll-events.js',
    'assets/javascript/transformicons.min.js',
    'assets/vendor/barba.js/dist/barba.min.js',
 #}