[viewBag]
snippetCode = "contact"
snippetName = "contact"
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Kontakt"
snippetProperties[headertext][options][] = ""
==
<div class="" id="kontakt-wrapper" data-target="#contact">
    <header class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 offset-xs-2 pl-0 py-5">
                    
                    <h1 class="text-center mb-3">Hallo</h1>
                    
                    <div class="mb-3">
                        {% content 'kontakt/text.htm' %}
                    </div>
                    
                    {% partial 'contactForm/default' %}
                    
                    <div class="mb-3">

                        <p>
                            <b>Kräuter</b>michel</br>
                            {{ this.theme.address_street }}</br>
                            {{ this.theme.address_city }}</br>
                        </p>

                        <p>
                             <b>Vertreten durch:</br></b>
                            Michael Schröder</br>
                        </p>

                        <p>
                            <b>Kontakt:</br></b>
                            Festnetz: {{ this.theme.address_phone }}</br>
                            Mobil: {{ this.theme.address_mobile }}</br>
                            E-Mail:  <a href="mailto:{{ this.theme.email_address }}">{{ this.theme.email_address }}</a></br>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
</div>