[viewBag]
==
<div id="footer-background">
    <footer class="container main-footer">

        {# DESKTOP #}
        <div class="row hidden-md-down">
            
            <div class="col col-xs-2" id="footer-logo-container">
                <a href ='/'>
                    <img class="_mt-2 _mb-2" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
                </a>
            </div>

            <div id="flex-wrapper" class="col col-xs-10 pl-0">

                <div class="text-left" id="footer-text">
                    <div class="_mt-2 _mb-2">
                        <b>
                            Hier erfährst du Wissenswertes über Kräuter,<br> 
                            neue Rezepte, Tipps und Inspiration.
                        </b>
                        <br> 
                        Alles über Wirkung, Geschmack und Herkunft.
                    </div>
                </div>
                
                <nav class="footer_nav">
                    <div class="row mt-2 mb-2 text-left ">
                        <div class="col first">
                            <a href="/leistungen-krauter">Leistungen</a>
                            {#<a href="/events">Events</a>#}
                            <a href="/krauter-abc">Kräuter von A bis Z</a>
                            <a href="/blog">Blog</a>
                            <a href="/credits">Credits</a>
                        </div>
                        <div class="col"> 
                            <a href="/kontakt">Kontakt</a>
                            <a href="/impressum">Impressum</a>
                            <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
                            <a href=""><b>f</b></a>
                        </div>
                    </div>
                </nav>

            </div>

        </div>


         {##}
        {#<div class="row hidden-sm-down hidden-lg-up">
            
            <div class="col col-xs-2" id="footer-logo-container">
                <img class="mt-2 mb-2" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
            </div>
            <div id="flex-wrapper" class="col col-xs-10 px-0">
                <div class="text-left" id="footer-text">
                    <div class="mt-2 mb-2">
                        <b>
                            Hier erfährst du Wissenswertes über <br> 
                            Kräuter, neue Rezepte, <br>
                            Tipps und Inspiration.
                        </b>
                        <br> 
                        Alles über Wirkung, <br>
                        Geschmack und Herkunft.
                    </div>
                </div>
                <nav class="">
                    <div class="row mt-2 mb-2 text-left ">
                        <div class="col first">
                            <a href="/leistungen-krauter">Leistungen</a>
                            <a href="/krauter-abc">Kräuter von A bis Z</a>
                            <a href="/blog">Blog</a>
                        </div>
                        <div class="col "> 
                            <a href="/kontakt">Kontakt</a>
                            <a href="/impressum">Impressum</a>
                            <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
                            <a href=""><b>f</b></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>#}


        {# MOBILE #}
        <div class="row hidden-lg-up">
            
            <div class="col col-xs-12 offset-xs-2 mb-2 mt-2" id="footer-mobile-container">
                
                <div class='row'>
                    <img class="mb-2" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
                </div>

                <div class="row">
                    <div class="text-left" id="footer-text">
                        <div class="">
                            <b>
                                Hier erfährst du Wissenswertes <br> 
                                über Kräuter, neue Rezepte, Tipps<br>
                                und Inspiration.
                            </b>
                            Alles über Wirkung,<br> Geschmack und Herkunft.
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <ul id="mobile-footer-nav" class="mt-2 pl-0">
                        <li><a href="/leistungen-krauter">Leistungen</a></li>
                        {#<li><a href="/events">Events</a></li>#}
                        <li><a href="/krauter-abc">Kräuter von A bis Z</a></li>
                        <li><a href="/blog">Blog</a></li>
                        
                        <li><a href="/kontakt">Kontakt</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                        <li><a href="/datenschutzerklaerung">Datenschutzerklärung</a></li>
                        <li><a href="/credits">Credits</a></li>
                        <li><a href="#"><b>f</b></a></li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
</div>
