<!--<footer class="row main-footer">
    <div class="col-xs-3" id="footer-logo-container">
        <img class="" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
    </div>
    <div class="col-xs-4" id="footer-text">
        <p>
            <b>Hier erfährst du wissenswertes über Kräuter, neue Rezepte, Tipps und Inspiration.</b>
            Alles über Wirkung, Geschmeck und Herkunft.
        </p>
    </div>
</footer>-->

    <!--<div class="d-flex justify-content-between main-footer">
        <div>
            <div class="" id="footer-logo-container">
              <img class="" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
            </div>
        </div>
        <div>
            <div class=" text-left" id="footer-text">
                <div>
                    <b>
                        Hier erfährst du wissenswertes über Kräuter,<br> 
                        neue Rezepte, Tipps und Inspiration.
                    </b>
                    <br> 
                    Alles über Wirkung, Geschmeck und Herkunft.
                </div>
            </div>
        </div>
        <div>C</div>
    </div>-->




    <footer class="container-fluid text-center main-footer">

        <div class="row justify-content-center">
            
            <div class="col col-xs-2" id="footer-logo-container">
              <img class="" src="{{ 'assets/images/icons/logo-2.svg' |theme }}" alt="">
            </div>

            <div class="col-xs-5 text-left" id="footer-text">
                <div>
                    <b>
                        Hier erfährst du wissenswertes über Kräuter,<br> 
                        neue Rezepte, Tipps und Inspiration.
                    </b>
                    <br> 
                    Alles über Wirkung, Geschmeck und Herkunft.
                </div>
            </div>
         
            <!--<nav class="col offset-xs-4 col-xs-3">-->
            <nav class="col col-xs-5">

                <div class="d-flex  align-items-end flex-column text-left">
                    <div class="p-0">
                        <ul>
                            <li><a href="">Kontakt</a></li>
                            <li><a href="">Impressum</a></li>
                            <li><a href="">f</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="d-flex  align-items-end flex-column text-left">
                    <div class="p-0">
                        <ul>
                            <li><a href="">Leistungen</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="">Kräuter von A bis Z</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <!--<div class="row text-left">
                    <div class="col col-xs-6">
                        <ul>
                            <li><a href="">Leistungen</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="">Kräuter von A bis Z</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col col-xs-6">
                        <ul>
                            <li><a href="">Kontakt</a></li>
                            <li><a href="">Impressum</a></li>
                            <li><a href="">f</a></li>
                        </ul>
                    </div>
                </div>-->

            </nav>

        </div>

    </footer>