[viewBag]

[slideshow slideshowHomeHTML]
slideshow = 1
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
==
{% component 'slideshowHomeHTML' %}