[viewBag]
==
<div class="contact-form-wrapper mb-3">


    <div class="confirm-container hidden">
      Deine Nachricht ist auf dem Weg.
    </div>

    <form class="contact-form no-barba">
        <input type="hidden" name="contact_success_text" value="{{this.theme.contact_success_text}}"/>
        <input type="hidden" name="contact_regard" value="{{this.theme.contact_regard}}"/>
        <input type="hidden" name="mail_template" value="{{this.theme.mail_template}}"/>

        <input type="text"  name="name" placeholder="Name" value="" required>
        <input type="text"  name="telefon" placeholder="Telefon" value="" required>
        <input type="email" name="email" placeholder="Email Address" value="" required>
        <textarea name="message" rows="9" ></textarea>

        <button type="submit" class="mt-1 btn btn-secondary green-white-fill">Nachricht senden</button>
    </form>
    {#onblur="this.setAttribute('value', this.value);"#}
    {#<span class="validation-text">Please enter a valid email address.</span>#}
</div>
