#blogpost {
    .logo-color {
        fill: $yellow;
    }
}

#blogPost {
     #blog-post-wrapper{
      
        h1 {
            font-family: $font-family-sans-serif-bold;
            //margin: 3rem 0 3rem 0;
            max-width: 45rem;
            margin: 0 auto;
            color:$yellow;
        }
        .content{
            // max-width: 39rem;
            // margin: 0 auto;
        }

        .featured-image {
            margin-bottom: 3rem;
            padding: 0  0.1rem;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            .featured-image {
                // padding: 0 16rem !important; 
            }
        }
        // LG
        @media (min-width: 992px) and (max-width: 1199px) {
            .featured-image { 
                // padding: 0 10.5rem !important; 
            }
        }
        // MD
        @media (min-width: 768px) and (max-width: 991px) { 
            .featured-image {
                // padding: 0 2.9rem !important; 
            }
        }     

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) { 
            // padding: 0 0.2rem !important; 
        }
   }
        
}