[viewBag]
snippetCode = "slideshow-krauter-von-a-bis-z"
snippetName = "Slideshow Kräuter von A bis Z"

[KrauterList]
pageNumber = "{{ :page }}"
postsPerPage = 10
includeHTML = 1
includeJavaScript = 1
==
{% if krauter|length > 0 %}
<div id="latest-krauter" data-target="#latest-krauter"> 

    <div class="container">

        <div class="row text-center">
            <div class="col-xs-12">
                <h1>Kräuter von A bis Z</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12  section-headline-text"  id="latest-krauter-row">
                <div class=" px-1 pb-3">
    
                    <div class="latest-krauter-carousel">
                    
                        {% for kraut in krauter %}

                            {% set url =  'https://kräutermichel.de/krauter-abc/' ~ kraut.slug %}
                            <a href="{{ url }}" class="card-block">
                                
                                {% if kraut.image  %}
                                    {% set image = kraut.image|mediathumb_resize('width', 350) %}
                                {% else %}
                                    {% set image = 'https://kräutermichel.de/storage/app/media/Kraeuter_von_A_bis_Z/Platzhalter.jpg' %}
                                {% endif %}

                                <div class="featured-image text-center "> 
                                    <div class="background-box ratio-4-3" 
                                            style="display:block; background-image: url({{ image }});" 
                                            title="{{ image.description }}">
                                    </div>
                                </div>	

                                <div class="mask">
                                    <div class="btn btn-secondary no-fill-white">Mehr zum Kraut</div>
                                </div>

                            </a>

                        {% else %}
                            <div class="no-data">
                                {{ nokrauterMessage }}
                            </div>
                        {% endfor %} 

                    </div>
    
                </div>        
            </div>
        </div>
    </div>
         
</div>
{% endif %}