<nav id="sub-nav">

    {% if not (active == 'leistungenkrauter' or active == 'leistungenverwendung' or active == 'leistungengrabpflege' ) %}
        {% set active ='leistungenkrauter' %}
    {% endif %}
    {#{{active}}#}
    <a href="/leistungen-krauter" id='_leistungenkrauter'  {% if active == 'leistungenkrauter' %} class="_active" {% endif %} >
        Kräuter
    </a>

    <a href="/leistungen-verwendung" id='_leistungenverwendung' {% if active == 'leistungenverwendung' %} class="_active" {% endif %}>
        Verwendung
    </a>

    <a href="/leistungen-grabpflege" id='_leistungengrabpflege'  {% if active == 'leistungengrabpflege' %} class="_active" {% endif %}>
        Grabpflege
    </a>

</nav>