[viewBag]
snippetCode = "leistungen-grabpflege"
snippetName = "Leistungen / Grabpflege"
==
<div id="leistungen-grabpflege">
    <div class="container text-center py-5">

        <div class="row">    
            <div class="col-xs-12 text-center">
                {% partial 'leistungen/_sub_nav.htm' %}
                <img class="my-3 icon" src="{{ 'assets/images/icons/icon-03.svg' |theme }}" alt="">
                <h1 class="my-3">Blühende Erinnerung</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-8 text-left">
                {% content 'leistungen/grabpflege.htm' %}
            </div>
        </div>
        
    </div>
</div>