[viewBag]
snippetCode = "leistungen-grabpflege"
snippetName = "Leistungen / Grabpflege"

[slideshow slideshowLeistungHTML]
slideshow = 5
initAuto = 1
includeHTML = 1
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 1
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"
color = "gray-light"
==
<div id="leistungen-grabpflege">

    <div class="container text-center py-2">
        
        <div class="row">            
            <div class="col-xs-12 text-center nav-wrapper">
                {% partial 'leistungen/_sub_nav.htm' active="grabpflege" %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center" id="leistung-icon">
                <img class="my-1 icon" src="{{ 'assets/images/icons/icon-03.svg' |theme }}" alt="">
            </div>
        </div>

        <div class="row justify-content-center">

            <h1 class="my-1 mb-3">Blühende Erinnerung</h1>
        
            <div class="col-xs-8 text-left">
                {% content 'leistungen/grabpflege.htm' %}
                <div class="py-3"> 
                    {% component 'slideshowLeistungHTML' %}
                </div>
            </div>
        
        </div>

    </div>

    <script>
        $(document).ready( function() {

            var initSlideshowKrauter = function () {

                var $slideshowKrauter = $("#slideshowLeistungHTML");

                // only init if slick is not already initialized
                if( !$slideshowKrauter.hasClass('slick-initialized') ) {
                    console.log('init slideshow krauter');
                    $slideshowKrauter.slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: false,
                        autoplaySpeed: 2000,
                        centerMode: true,
                        centerPadding: '0',
                        infinite: true,
                        dots: true,
                        arrows: false,
                    });
                }
            
            };
        initSlideshowKrauter();
        });
    </script>
</div>