[viewBag]
snippetCode = "leistungen-krauter"
snippetName = "Leistungen / Kräuter"
==
<div id="leistungen-krauter">
    <div class="container text-center py-5">

        <div class="row">
            <div class="col-xs-12 text-center">
                {% partial 'leistungen/_sub_nav.htm' %}
                <img class="my-3 icon" src="{{ 'assets/images/icons/icon-01.svg' |theme }}" alt="">
                <h1 class="my-3">Kräuter in aller Munde</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-8 text-left">
                {% content 'leistungen/krauter.htm' %}
            </div>
        </div>

    </div>
</div>


<!--font-size-sm-->