[viewBag]
snippetCode = "leistungen-verwendung"
snippetName = "Leistungen / Verwendung"

[slideshow slideshowLeistungVerwendungHTML]
slideshow = 4
initAuto = 1
includeHTML = 1
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 1
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
==
<div id="leistungen-verwendung-wrapper">

    <div class="container text-center py-2 mt-9">
        
        <div class="row">
            <div class="col-xs-12 text-center" id="leistung-icon">
                <img class="my-1 icon" src="{{ 'assets/images/icons/icon-02.svg' |theme }}" alt="">
            </div>
        </div>

        <div class="row justify-content-center">    
            
            <h1 class="my-1 mb-3 current-section-color">Was die alles können</h1>
            
            <div class="col-xs-8 text-left">
                {% content 'leistungen/verwendung.htm' %}
                <div class="py-3"> 
                    {% component 'slideshowLeistungVerwendungHTML' %}
                </div>
            </div>
    
        </div>

    </div>

    <div class="containr-fluid">
        <div class="justify-content-center  teaser-wrapper red text-center p-3">
            <h1 class="current-section-color">Leckere Vorträge<br>
            für Firmen & Privatpersonen</h1>
            {#<p class="mt-1">Erfahre mehr über die Möglichkeiten an Vorträgen teilzunehmen<br> oder selbst welche zu veranstalten</p>
           #}
            <h1 class="bold">-für jung und alt.</h1>
            {#<a  href="/events" class="btn btn-secondary no-fill-red mt-3">mehr erfahren</a>#}
        </div>
    </div>

    {#<script>
        $(document).ready( function() {

            var initSlideshowKrauter = function () {

                var $slideshowKrauter = $("#slideshowLeistungHTML");

                // only init if slick is not already initialized
                if( !$slideshowKrauter.hasClass('slick-initialized') ) {
                    console.log('init slideshow krauter');
                    $slideshowKrauter.slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: false,
                        autoplaySpeed: 2000,
                        centerMode: true,
                        centerPadding: '0',
                        infinite: true,
                        dots: true,
                        arrows: false,
                    });
                }
            
            };
        initSlideshowKrauter();
        });
    </script>#}

</div>