[viewBag]
==
<?php
use JumpLink\KrauterVonBisZ\Models\Kraut as Kraut;

function onStart()
{
   
   // $this['krauter'] = Kraut::all();
   // var_dump(Input::get("page") );
    // var_dump(Input::get("query") );
  
}
?>
==
{##
 # Parent : .krauterlist-wrapper
 #}

{##
 # GRID 
 #}
<div class="grid _hidden-sm-down" >
    {% for kraut in krauter %}
        <a class="grid-item" href="https://kräutermichel.de/krauter-abc/{{kraut.slug}}">
            
            {% if kraut.image  %}
                {% set image = kraut.image|mediathumb_resize('width', 350) %}
            {% else %}
                {% set image = 'https://kräutermichel.de/storage/app/media/Kraeuter_von_A_bis_Z/Platzhalter.jpg' %}
            {% endif %}
            <div class="featured-image text-center "> 
                <div class="background-box ratio-4-3" 
                        style="display:block; background-image: url({{ image }});" 
                        title="{{ image.description }}">
                </div>
            </div>				
        
            <div class="card-block pt-1 pl-0 text-xs-center text-md-left">
                <h4 class="card-title text-xs-center text-serif">{{ kraut.name }}</h4>
            </div>

        </a>
    {% else %}
        <p class="no-data">Kein Kraut gefunden</p>
    {% endfor %}

</div>


