@mixin button-no-fill($color) {
    border-color: $color;
    background-color: $transparent;
    color: $color;
    padding: 0.7rem 2rem;
    font-size: $font-size-sm;
    
    box-shadow: none;
    transition: box-shadow .25s;

    &:hover {
        @extend .z-depth-1;
    }
}

.btn {
    cursor: pointer;
    &.btn-secondary {
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease;
    }
    
    &.green-white-fill {
        border-color: $green;
        color: $green;
        background-color: $transparent;
        padding: 0.7rem 2rem;
        font-size: $font-size-sm;
        
        box-shadow: none;
        transition: box-shadow .25s;
        
        &:hover  {
            background-color: $transparent;
            @extend .z-depth-1;
        }
    }

    &.no-fill-white {
        @include button-no-fill($white);
    }


    &.no-fill-red {
        @include button-no-fill($red);
    }
}