#home {
 
    &.leistungenverwendung {
        #footer-background {
            background-color:$red;
        }
    }
    &.leistungenkrauter {
        #footer-background {
            background-color:$green;
        }
    }
    &.leistungengrabpflege {
        #footer-background {
            background-color: $gray-light;
        }
    }
    &.blog {
        #footer-background {
            background-color:$yellow;
        }
    }
    &.events {
        #footer-background {
            background-color:$red;
        }
    }
}



#events {
    #footer-background {
        background-color:$red;
    }
}

#kräutervonabisz{
    #footer-background {
        background-color:$green;
    }

}

#blog {
    #footer-background {
        background-color:$yellow;
    }

}

// –––

#footer-background {
    background-color:$green;
    transition: all 1s ease;
}

.main-footer {
    $content_height:  4.14rem;
    // padding: 1rem 0 1rem 0;
    .row{
       
        //background-color:$green;
        display: flex;

        #footer-logo-container {
            display: flex;
            align-items: center;
            img {
                height: $content_height;
                margin-left: -2.4rem;
            }
        }

        #footer-mobile-container {
            img {
                max-width: 12rem;
            }
            #footer-text{
                color: $white;
            }
            #mobile-footer-nav{
                list-style: none;
                line-height: 2;
                li{
                    a{
                        color: $white;
                        font-size: $font-size-sm;
                    }
                }
            }
        }

        #flex-wrapper {

            display:flex;
            justify-content: space-between;
           

            #footer-text{
                display: flex;
                align-items: center;
                color:$white;
                div {
                    height: $content_height;
                    margin-top: 0.1rem;
                    b{
                        font-family: $font-family-sans-serif-bold;
                    }

                }
            }

            nav {
                .row {
                    .col {
                        //width: 10rem;
                        display: flex;

                        flex-direction: column;
                        a {
                            font-size: $font-size-sm;
                            color:$white;
                        }
                        &.first{
                            width: 10rem;
                        }
                        @media (min-width: 991px)  { //and (max-width: 991px)
                            //width: 10rem;
                            &.second{
                                width: 5.4rem;
                            }

                        }
                    }
                          
                }
            }

        }
    }


}