#kontakt {
    .logo-color {
        fill: $green;
    }
}

.contact-form-wrapper {
    $base: $black; 
    $text: #555;
    $invalid: #E91E63;
    $width: 100%; 

    .contact-form {
        transition: all 0.3s ease-in-out;
        &.hidden {
            opacity:0;
        }
    }

    .confirm-container {
        color: $green;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &.hidden{
            opacity:0;
            display:none;
        }
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        transition: transform 0.3s ease-in-out, 
        font-size 0.3s ease-in-out, 
        visibility 0.3s ease-in-out;
    }

    input {
        border: none;
        border-bottom: solid 1px $base;
        &:focus,&:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;
            &::-webkit-input-placeholder {
                font-size: 0.8em;
                transform: translateY(-20px);
                visibility: visible !important;
                opacity: 1;
            }
        }
    }

    textarea {
        border: 1px solid;  
        padding: 1rem;    
        margin-top: 3.4rem !important;
        &:focus,&:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;
            &::-webkit-input-placeholder {
                font-size: 0.8em;
                transform: translateY(-20px);
                visibility: visible !important;
                opacity: 1;
            }
        }
    }
    
    input,
    textarea {
        padding: 0.9rem;
        font-size: 0.8em;
        margin: 28px 0px 10px;
        width: $width;
        display: block;
        resize: none;
        overflow: hidden;
        &:focus::-webkit-input-placeholder {
            color: $base;
        }
    }

}