#kräuterabc, #krautpage {
    .logo-color {
        fill: $green;
    }
}

#krauter-abc, #krauter-abc-kraut {
    .row {
        .krauterlist-wrapper {
            h1{
                color:$black;
            }
            .grid {
                .grid-sizer { 
				    width: 40%; 
			    }
                margin: 0 auto;
                .grid-item {
                    width:  300px; //40%;
                    height: 263px;// height: 257px;
                    float: left;
                    margin-bottom: 30px;
                    padding: 0.2rem;
                    background-color: white;
                    .featured-image {
                        text-decoration: none;
                        transition: box-shadow .25s;
                        &:hover {
                            @extend .z-depth-1-half;
                        }
                    }
                    .card-block {
                        .card-title {
                            font-size: $font-size-base;
                            color: $black;
                        }
                    }
                }
            }
        }
        .krauterlist-nav-wrapper {
            display: flex;
            justify-content: center;
            a{
                padding: 0 0.3rem 0 0.3rem;
                h1, h2, h3{
                    font-family: $font-family-sans-serif-italic;
                    color:$green;
                }
            }
        }
    }
}

.mask {
    .btn {
         @extend .z-depth-0;
    }
}


#krauter-abc-kraut {

    .kraut-wrapper {
        max-width: 42rem;
        margin: 0 auto;

        h1 {
            font-family: $font-family-sans-serif-italic;
        }
    }
}

.card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

