
.leistungen-subnav { 
    opacity:0;
    // display:none
    display:block;
    position: absolute;
}

#leistungenkrauter{
    #sub-nav {
        a {
            &._active {
                 color: $green !important;
            }
        }
    }
}

#leistungenverwendung {
    #sub-nav {
        a {
            &._active {
                 color: $red;
            }
        }
    }
}

#leistungengrabpflege {
    #sub-nav {
        a {
            &._active {
                color: $gray-light;
            }
        }
    }
}

#leistungenkrauter, #leistungenverwendung, #leistungengrabpflege {

    .leistungen-subnav {
        opacity:1;
       // display:block;
        transition: opacity 1s ease;
       
        width: 100%;
        #sub-nav {
            a {
                padding: 0 1rem 0 1rem;
            }

        }

    }
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

/**
 * SECTION COLORS
 */
#leistungenkrauter {
    
    .logo-color {
        fill: $green;
    }
    #footer-background {
        background-color:$green;
    }
    #leistungen-krauter-wrapper {
        .current-section-color {
            color: $green;
        }
        .slick-carousel .slick-dots li button:before{
            color:$green;
        }  
    }
} 
#leistungenverwendung {
    
    .logo-color {
        fill:$red;
    }
    #footer-background {
        background-color:$red;
    }
    #leistungen-verwendung-wrapper {
        .current-section-color{
            color: $red;
        }
        .slick-carousel .slick-dots li button:before{
            color:$red;
        }  
    }
} 
#leistungengrabpflege {
    
    .logo-color {
        fill:$gray-light;
    }
    #footer-background {
        background-color:$gray-light;
    }
    #leistungen-grabpflege-wrapper {
        .current-section-color {
            color: $gray-light;
        }
        .slick-carousel .slick-dots li button:before{
            color:$gray-light;
        }  
    }
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

#leistungen-krauter-wrapper, #leistungen-verwendung-wrapper, #leistungen-grabpflege-wrapper {
    
    min-height: 880px;
   // margin-top: 3rem;

    .nav-wrapper{
        // padding-left: 3.2rem;
    }

    padding-top: 9rem;
    
    #leistung-icon {
        // margin-top: 3rem;
        // margin-bottom: 3rem;
        .icon {
            width:7rem;
            height: 8rem;
        }
    }

}

#leistungen-krauter {
    #leistung-icon {
        padding-right: 3rem;
    }
    h1{
        color: $green;
    }
}

#leistungen-verwendung {
    #leistung-icon {
        padding-right: 3rem;
    }
    h1{
        color: $red;
    }
    .teaser-wrapper{
        //background-image: url(https://xn--krutermichel-hcb.de/themes/kraeutermichel-october-theme/assets/images/icons/icon-01.svg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: rgba(255, 0, 0, 0.03);
        .bold {
             font-family: $font-family-sans-serif-bold;
        }

    }
}

#leistungen-grabpflege {
    #leistung-icon {
        padding-right: 1rem;
    }
    h1{
        color: $gray-light;
    }
}