#sidebar {
    display: none;
    .sidebar-wrapper {
        top: $navbar-height;
        position: relative;
        height: 100%;
        overflow: auto;
        .list-group-item {
            border: none;
            border-radius: 0;
        }
        &.fg-primary {
            .list-group-item {
                @extend .fg-primary;
            }
        }
    }

    #logo {
        width: 3rem;
    }
    
    .logo-color {
        fill:green !important;    
    }
}
#leistungenkrauter {
    .list-group-item {
        &._active {
            color: $green !important;
        }
    }
}
#leistungenverwendung {
    .list-group-item {
        &._active {
            color: $red !important;
        }
    }
}
#leistungengrabpflege {
    .list-group-item {
        &._active {
            color: $gray-light !important;
        }
    }
}

#kräuterabc {
    .list-group-item {
        &._active {
            color: $green !important;
        }
    }
}

#events {
    .list-group-item {
        &._active {
            color: $red !important;
        }
    }
}

#blog {
    .list-group-item {
        &._active {
            color: $yellow !important;
        }
    }
}
#kontakt {
    .list-group-item {
        &._active {
            color: $green !important;
        }
    }
}
