#WorkInProgress {
    background-image: url(https://xn--krutermichel-hcb.de/themes/kraeutermichel-october-theme/assets/images/bg.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    font-family: LibreFranklinLight;
    #layout-content {
       // background-color: rgba(175,203,55,0.3);
    }
    #teaser-content-container {
        margin-top: 11rem;
        padding-left: 7.3rem;

        &.mobile{
             margin-top: 5rem;
             padding-left: 5.3rem;
             &.landscape {
                 margin-top: 2rem;
             }
        }
        
        // height: 780px;
        p{
            color:white;
            text-shadow: 1px 1px 1px rgba(60, 60, 60, 1);
        }
        .main {
            font-size: 2.2rem;
            line-height: 1.2;
            b{
                font-family: LibreFranklinSemiBold;
            }
            &.mobile {
                font-size: 1.2rem;
            }
        }
        #sub{
            font-size: 1rem;
            line-height: 1.3;
        }
        #contact-button{
            margin-bottom:2rem
        }
        #icons{
            img{
                width:58px;
                padding: 0 2px 0 2px;
            }
        }
        #question{
            font-size: 0.8rem;
        }

    }
}
//


.WorkInProgress {
    #mask {
        background-color: rgba(175,203,55,0.3);
        width:100%;
        height:100%;
        position:fixed;
    }
    #leaf-logo{
        width: 41px;
        position: fixed;
        top: 1rem;
        left: 1.1rem;
    }

    height:100%;
    //height: 444px;
    footer{
        background-color: $green;
        width:120%;
        height: 150px;;
        padding:1.8rem;
        &.fixed{
            position: fixed;
            bottom: 0;
        }
        &.mobile{
            padding:1rem;
            height: 196px;
        }

        #teaser-imprint-logo-container{
            img{
                width: 120px;
            }
            &.mobile{
                padding-left: 2.2rem;
                padding-top: 2.76rem;
                img {
                 width: 87px;
                }
            }
        }

        #teaser-imprint-text-container {
            color: $white;
            font-size: 0.9rem;
            padding-top: 0.5rem;
            .white-link{
                text-decoration: none;
                color:$white;
            }
        }
        // #teaser-imprint-icons-container {
        //     img {
        //         width:58px;
        //         padding: 0 2px 0 2px;
        //     }
        // }
    }
}


