[viewBag]
==

{% set active =  str_snake(this.page.title , '') | lowercase %}
{#{{active}}#}
<ul class="{{ class }}">
    {% for item in items %}
        <li class="{{ itemClass }} {{ item.viewBag.cssClass }} {{ item.items ? 'dropdown' : '' }}">
            
            {% if active == 'leistungenkrauter' or 
                    active == 'leistungenverwendung' or
                    active == 'leistungengrabpflege'  or 
                    active == 'events' or
                    active == 'kräutervonabisz' 
            %}
                {% set active_class = '_active' %}
            {% endif %}

            {% if active == item.viewBag.cssClass %}
                {% set active_class = '_active' %}
            {% else %}
                {% set active_class = '' %}
            {% endif %}


            <a class="nav-link {{active_class}}" {% if item.items %}data-toggle="dropdown"{% endif %} href="{{ item.url }}">
                {{ item.title }}
            </a>
            {#{% if item.items %}
                {% partial 'menu-items' items=item.items class='dropdown-menu' %}
            {% endif %}#}
        </li>
    {% endfor %}
</ul>