[viewBag]
==
{% set active =  str_snake( this.page.title , '' ) | lowercase %}
{% set active =  str_limit( active, 10, '' )  %}

{#{{active}}#}

<div class="{{ class }} pl-1">    
    {% for item in items %}
      
        {% if active == item.viewBag.cssClass %}
            {% set active_class = '_active' %}
        {% else %}
            {% set active_class = '' %}
        {% endif %}

        <a class="{{active_class}} {{ itemClass }} {{ item.viewBag.cssClass }} {{ item.items ? 'dropdown' : '' }}" 
            {% if item.items %}data-toggle="dropdown"{% endif %} href="{{ item.url }}">
                {{ item.title }}
            {% if item.items %}
                <span class="caret"></span>
            {% endif %}
        </a>
    {% endfor %}
</div>