title = "Kräuter ABC"
url = "/krauter-abc"
layout = "default"
is_hidden = 0

[KrauterList]
==
<div id="krauter-von-a-bis-z" class="main-wrapper">

    <div class="container-fluid text-center pt-3 pb-5">
        
        <div class="row">    
            <div class="col-xs-12 text-center krauterlist-wrapper pt-5">
                <h1>Willkommen in deinem Kräutergarten</h1>
                <p class="mt-1">Hier erfährst du alles über Wirkung von Heilkräuter <br>
                und Tipps für deine Kräuterküche.</p>
            </div>
        </div>

        {# LEXICON NAV #}
        <div class="row hidden-sm-down" > 
            <nav class="col-xs-12 text-center krauterlist-nav-wrapper py-1">
                {% for letter in 'a'..'z' %}     
                    {% set param =  "?query=#{ letter|upper}" %} 
                    <a href="{{ this.page.id | page }}/{{param}}"> <h3>{{ letter|upper }}</h3> </a>
                {% endfor %}
            </nav>
        </div>  

        {# LEXICON NAV MOBILE #}
        <div class="row hidden-md-up"> 
            <nav class="col-xs-12 text-center krauterlist-nav-wrapper pt-1">
                {% for letter in 'a'..'m' %}     
                    {% set param =  "?query=#{ letter|upper}" %} 
                    <a href="{{ this.page.id | page }}/{{param}}"> <h3>{{ letter|upper }}</h3> </a>
                {% endfor %}
            </nav>
            <nav class="col-xs-12 text-center krauterlist-nav-wrapper pb-1">
                {% for letter in 'n'..'z' %}     
                    {% if input('page') %}
                        {% set param = "?query=#{letter|upper}&page=#{input('page')}" %} 
                    {% else %}
                        {% set param =  "?query=#{ letter|upper}" %} 
                    {% endif %}
                    <a href="{{ this.page.id | page }}/{{param}}"> <h3>{{ letter|upper }}</h3> </a>
                {% endfor %}
            </nav>
        </div>  

        {# KRAUTERLIST #}
        <div class="row">            
            <div class="col-xs-12 text-center krauterlist-wrapper pt-1" >
               {% component 'KrauterList' %}
            </div>
        </div>

        {# PAGINATION #}
        <div class="row"> 
            <div class="col-xs-12 text-center krauterlist-pagination-wrapper pt-1">
                {% if input('query') %}
                    {{ krauter.appends({query: input('query') }).render|raw }}
                {% else %}
                    {{ krauter.render|raw }}
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center mt-3 ">
            <h1 class="red">Du willst noch mehr über die leckere und <br>
            heilende Vielfalt der Kräuter wissen?</h1>
        </div>
        <div class="row justify-content-center mt-1 red">
            <p>Erfahre mehr über die Möglichkeiten an Vorträgen teilzunehmen<br> oder selbst welche zu veranstalten</p>
        </div>
        <div class="row justify-content-center mt-1">
            <a href="/events" class="btn btn-secondary no-fill-red">mehr erfahren</a>
        </div>
    </div>
    
</div>