{# 
    Parent:  <div id="blog-post-wrapper"> 
#}
{% set post = __SELF__.post %}

{# POST TITLE #}
<h1 class="text-center mb-6">{{post.title}}</h1>

{# FEATURED IMAGE #}
<div class="featured-image text-center mt-3">

    {% if post.featured_images.count %}
        {% set image = post.featured_images[0].path %}
    {% else %}
        {% set image = 'https://kräutermichel.de/storage/app/media/Kraeuter_von_A_bis_Z/Platzhalter.jpg' %}
    {% endif %}

    <p>
        <div class="background-box ratio-4-3" 
                style="display:block; background-image: url({{ image }});" 
                title="{{ image.description }}">
        </div> 
    </p>

</div>

<div class="content">{{ post.content_html|raw }}</div>